body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #f4f4f4;
  color: #222;
}

header {
  background-color: #1f2937;
  color: white;
  padding: 60px 20px;
  text-align: center;
}

main {
  max-width: 900px;
  margin: 30px auto;
  padding: 20px;
}

section {
  background: white;
  margin-bottom: 20px;
  padding: 25px;
  border-radius: 10px;
}

h1 {
  font-size: 48px;
}

h2 {
  color: #1f2937;
}

a {
  color: #2563eb;
}